@keyframes moveInRight {
  0% {
    transform: translateX(-30rem);
    opacity: 0;
  }

  80% {
    transform: translateX(9px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(30rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-9px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes infiniteloop {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color-black, 0.1);
  }
  0% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes roomInfinite {
  0% {
    transform: translateX(-150rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes roomInfinite_930px {
  0% {
    transform: translateX(-115rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bp__lgPhone {
  0% {
    transform: translateX(-95rem);
  }
}

@keyframes bp-smPhone {
  0% {
    transform: translateX(-83rem);
  }
}
