.feature--2 {
  grid-column: 2 / 12;
  padding: 10rem 0;

  display: grid;
  row-gap: 3rem;

  @media only screen and (max-width: 912px) {
    grid-column: col-start 2 / col-end 7;
    padding: 10rem 4rem;
  }
}

.attribute {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 7rem;

  @media only screen and (max-width: $bp-largest) {
    column-gap: 3rem;
  }

  @media only screen and (max-width: 912px) {
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
  }
}

.spa,
.gym,
.pool {
  display: grid;
  grid-template-rows: min-content repeat(3, min-content);
  row-gap: 1rem;
  overflow: hidden;
  justify-items: start;
  padding: 5px;

  @media only screen and (max-width: 912px) {
    grid-column: 1 / -1;
  }
}

.spa {
  @media only screen and (max-width: 912px) {
    grid-row: 1;
  }
}

.gym {
  @media only screen and (max-width: 912px) {
    grid-row: 2;
  }
}

.pool {
  @media only screen and (max-width: 912px) {
    grid-row: 3;
  }
}

.main {
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    border-radius: 3px 3px 0 0;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
      cursor: zoom-in;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
