.footer {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(min-content, 10vw));
  padding: 8rem 4.5rem 4.5rem 4.5rem;

  @media only screen and (max-width: $bp-small) {
    column-gap: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(4, max-content);
    position: relative;
    justify-content: center;
    align-content: center;
  }

  &__col-1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr) 2fr;
    row-gap: 2.5rem;
    margin-right: auto;
    margin-right: 5vw;

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1 / -1;
    }
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
  }

  &__copyright {
    align-self: end;

    @media only screen and (max-width: $bp-smallest) {
      align-self: start;
      position: absolute;
      left: 21vw;
      bottom: 5rem;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    justify-items: start;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-top: -7rem;
      margin-bottom: 8rem;
    }
  }

  &__items {
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-grey-light-3;

    &:first-child {
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}
